.rightSide {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 25%;
    top: 0px;
}

input::placeholder {
    /* color: gray; */
    position: relative;
    /* margin-top: 10px; */
    left: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;


    /* Light grey */

    color: #B0B0B0;

}

.searchBar {
    position: absolute;
    top: 0;
    height: 30px;
    border: none;
    font-family: var(--font-lato);
    font-size: var(--font-size-sm);
    background-color: white;
    border-radius: 10px;
    left: 713px;
    width: 180px;

}

.header {
    position: relative;
    width: 1000px;
    height: 30px;
    top: 60px;
}

.navigation {
    position: relative;
    top: 6.36%;
    left: 17.86%;
    font-size: var(--font-size-17xl);
}

.navigation {
    top: 40px;
    left: 40px;
    width: 280px;
    height: 944px;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-montserrat);
}

.dashboard {
    position: relative;
    background-color: var(--background);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-lato);
}

.dashboard2 {
    position: relative;
    top: 0;
    left: 0;
    text-transform: capitalize;
}

.card,
.card1 {
    position: absolute;
    top: 0;
    left: 0;
}

.card1 {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    /* border-radius: var(--br-xl); */
    border-radius: 20px;
    background-color: #f4ecdd;
}

.card {
    width: 221.05px;
    height: 120px;
}


.smallnum {
    position: relative;
    left:15%;
    top:40%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #000000;
}

.lrgnum {
    position: relative;
    left: 15%;
    top: 40%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    color: #000000;

}


.card3,
.totalTransactions {
    position: absolute;
    top: 129px;
    left: 25%;
    width: 221.05px;
    height: 120px;
}

.card3 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xl);
    border-radius: 20px;
    background-color: #ddefe0;
}


.vectorIcon {
    position: absolute;
}


.vectorIcon {
    height: 20%;
    width: 11.94%;
    top: 16.67%;
    right: 11.6%;
    bottom: 63.33%;
    left: 76.45%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.card5,
.totalRevenues {
    position: absolute;
    top: 129px;
    left: 0%;
    width: 221.05px;
    height: 120px;
}

.card5 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* border-radius: var(--br-xl); */
    border-radius: 20px;
    background-color: #efdada;
}

.vectorIcon1 {
    position: absolute;
    height: 20%;
    width: 10.54%;
    top: 16.67%;
    right: 11.56%;
    bottom: 63.33%;
    left: 77.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.card7,
.totalLikes {
    position: absolute;
    top: 129px;
    left: 50%;
    width: 221.05px;
    height: 120px;
}

.card7 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* border-radius: var(--br-xl); */
    border-radius: 20px;
    background-color: #dee0ef;
}

.vectorIcon2 {
    position: absolute;
    height: 20%;
    width: 16.65%;
    top: 16.67%;
    right: 11.39%;
    bottom: 63.33%;
    left: 71.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.totalUsers{
    position: absolute;
    top: 129px;
    left: 75%;
    width: 221.05px;
    height: 120px;
}

.card9 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
}

.card8,
.card9,
.guest {
    position: absolute;
}

.card8 {
    top: 0;
    left: 0;
    width: 1000px;
    height: 359px;
}